<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <img src="assets/face1.png" height="45px" width="45px">
      <ion-label>Chitranjan Bobal</ion-label>
      <img src="assets/gold.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face2.png" height="45px" width="45px">
      <ion-label>Kiran Mital </ion-label>
      <img src="assets/silver.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face3.png" height="45px" width="45px">
      <ion-label>Manjari Sood</ion-label>
      <img src="assets/silver.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face4.png" height="45px" width="45px">
      <ion-label>Jaswant Taneja</ion-label>
      <img src="assets/silver.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face5.png" height="45px" width="45px">
      <ion-label>Kajal Nayar</ion-label>
      <img src="assets/silver.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face6.png" height="45px" width="45px">
      <ion-label>Lakshmi Somani</ion-label>
      <img src="assets/bronze.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face3.png" height="45px" width="45px">
      <ion-label>Hina Narayan</ion-label>
      <img src="assets/bronze.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face7.png" height="45px" width="45px">
      <ion-label>Narayan Meka</ion-label>
      <img src="assets/bronze.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face2.png" height="45px" width="45px">
      <ion-label>Nalini Subramaniam</ion-label>
      <img src="assets/bronze.png" height="35px" width="35px">
    </ion-item>
    <ion-item>
      <img src="assets/face8.png" height="45px" width="45px">
      <ion-label>Karan Chaudry </ion-label>
      <img src="assets/bronze.png" height="35px" width="35px">
    </ion-item>
  </ion-list>

</ion-content>
