<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lessons</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>




  <center>
    <ion-card>
      <ion-card-header>
        <img src="assets/unnamed.gif">
      
        
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-button size="large" color="transparent" (click)="alphabets()"> <img src="assets/alpha.png"></ion-button>
       
      </ion-card-content>
    </ion-card>
  
    
    <ion-card>
      <ion-card-header>
        <img src="assets/num.gif" height="200px" width="200px">
      
       
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-button size="large" color="transparent" (click)="numbers()">  <img src="assets/number.png" height="30px" width="400px"></ion-button>
       
      </ion-card-content>
    </ion-card>  
     
  
   
     
    <ion-card>
      <ion-card-header>
        <img src="assets/color.gif" height="300px" width="250px">
      
       
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-button size="large" color="transparent" (click)="colors()">  <img src="assets/colors.png" height="30px" width="250px"></ion-button>
       
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/shape.gif">
      
        
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-button size="large" color="transparent" (click)="shapes()"> <img src="assets/shap.png"></ion-button>
       
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <img src="assets/book-open.gif" height="300px" width="300px">
      
      </ion-card-header>
    
      <ion-card-content>
        <ion-button size="large" color="transparent" (click)="stories()">  <img src="assets/stories.png" height="30px" width="150px"></ion-button>
       
      </ion-card-content>
    </ion-card> 

   

  </center>
  
</ion-content>
