<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center>  <img src="assets/face1.png" height="150px" width="150px"></center>
<ion-item>
  <ion-label position="fixed">First Name</ion-label>
  <ion-input value="Chitaranjan" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Last Name</ion-label>
  <ion-input value="Bobal" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Age</ion-label>
  <ion-input value="5" disabled></ion-input>
</ion-item>
</ion-content>
