<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content class="ion-padding">
 <div id="faq">
   <ul>
     <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Webinar</h2>       
       <p><img src="assets/block.png" height="100px" width="100px"><br>
        <b>Blockchain Technology</b><br>
         Date - 12/11/2021<br> Time - 08 am to 10 am <br> <br><br>
         </p>
     </li>
     <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Workshop</h2>
      
       <p><img src="assets/iot.jpeg" height="100px" width="200px"><br>
        <b>IOT</b><br>
        Date - 20/11/2021<br> Time - 11 am to 5 pm <br> <br>
        </p>
    </li>
    
   </ul>
 </div>
 
</ion-content>
