<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  Faculty Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Dr. Pooja Raundale</h2>
        <p><img src="assets/pjmam1.jpg" height="300" width="400"><b>Professor and Head of Department</b><br>Research Interests : C programming, Artificial Intelligence, Computer Graphics, Object Oriented Programming in C++, Data Structures<br>
          <ion-icon name="call" color="success"></ion-icon>  022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> pooja@spit.ac.in </p>
      </li>
      <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Prof. Harshil Kanakia</h2>
       <p><img src="assets/juna.jpg"><b>Assistant Professor</b><br>Research Interests : Software Engineering, Advanced Microprocessor, Data Structures, Database Management Systems<br>
        <ion-icon name="call" color="success"></ion-icon>022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> harshil_kanakia@spit.ac.in </p>
     </li>
     <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Dr. Aarti Karande</h2>
       <p><img src="assets/aarti.jpg"><b>Assistant Professor</b><br>Research Interests : Object Oriented Programming, Service Oriented Architecture, Soft Computing Data Mining, Software Engineering<br>
        <ion-icon name="call" color="success"></ion-icon>022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> aartimkarande@spit.ac.in </p>
     </li>
     <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Nikhita Mangaonkar</h2>
      <p><img src="assets/nikitam.jpg"><b>Assistant Professor</b><br>Research Interests : Green computing, Natural Language Processing ,Computer networking<br>
        <ion-icon name="call" color="success"></ion-icon>022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> nikhita.mangaonkar@spit.ac.in </p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Sakina Salmani</h2>
      <p><img src="assets/skinam.jpg"><b>Assistant Professor</b><br>Research Interests : Network security and Cryptography, Cyber law ,Computer graphics, Image processing<br>
        <ion-icon name="call" color="success"></ion-icon>022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> sakina_shaikh@spit.ac.in </p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Pallavi Thakur</h2>
      <p><img src="assets/pallavi.jpg"><b>Assistant Professor</b><br>Research Interests : Data Analytics, Operating System, Python Programming, Computer Networks, Structured Programming Approach, Computer Graphics and Virtual Reality, Open Source Technology,Object Oriented Analysis & Design<br>
        <ion-icon name="call" color="success"></ion-icon> 022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> pallavi.thakur@spit.ac.in </p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Mayura Nagar</h2>
      <p><img src="assets/mrm.png"><b>Assistant Professor</b><br>Research Interests : Programming in C++, Data Structures,Operation research,Software Engineering<br>
        <ion-icon name="call" color="success"></ion-icon> 022-26708520, 022-26706640 extn.396<br><ion-icon name="mail" color="warning"></ion-icon> gujmayu@gmail.com</p>
    </li>
    </ul>
  </div>
</ion-content>
