<ion-header>
  <ion-toolbar>
  <ion-title>Log In</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-card>
  <ion-card-header>
  <img src="assets/SPIT_logo.jpg" alt="SPIT-logo" class="center">
  <ion-card-title class="login"></ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-item>
  <ion-input placeholder="Username">
  </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="password">
    </ion-input>
    </ion-item>
    <br>
    <ion-button class="center" (click)="logMeIn()">login</ion-button>
    </ion-card-content>
    </ion-card>
    </ion-content>
    