<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <br>
  
<center><img src="assets/profile.png" width="100px" height="100px"></center>

<br>
<ion-item>
  <ion-label position="fixed">First Name</ion-label>
  <ion-input value="Pratik" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Last Name</ion-label>
  <ion-input value="Vakurdekar" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">UCID</ion-label>
  <ion-input value="2020510067" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Department</ion-label>
  <ion-input value="MCA" disabled></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">College Email</ion-label>
  <ion-input value="pratik.vakurdekar@spit.ac.in" disabled></ion-input>
</ion-item>
</ion-content>
