table{
 
   
    // margin:10px;
    // margin-left:10px;
    padding:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    th{
        
        font-size: large;
        font-weight: 700;
       
    
    }

}

ion-card{
   
    padding-right: 10px;
    margin-right: 10px;

    ion-button{
        width:100%;
    }
}

