<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>colors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <iframe src="https://www.youtube.com/embed/0Sn_lxMCdes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe src="https://www.youtube.com/embed/9_WBQISVHnw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-content>
</ion-content>
