<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <img src="assets/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>     
     <center> <ion-card-title>Explore</ion-card-title></center>
    </ion-card-header>   
  </ion-card>
  <ion-row offset="1">
    <ion-col >
      
  <img src="assets/paintings/log.png" >
 
</ion-col>
<ion-col offset="1"> 
    <img src="assets/sculpture/logo.png"  >
    
  </ion-col>
</ion-row> 

<ion-row>
  <ion-col>
    
    <center><ion-button fill="transparent" size="small" (click)="painting()">Paintings</ion-button></center>

</ion-col>
<ion-col > 
  <center> <ion-button fill="transparent" size="small" (click)="sculpture()">Sculptures</ion-button></center>
  
</ion-col>
</ion-row> 

<ion-row offset="1">
  <ion-col >
    
<img src="assets/artifacts/logo.png" >

</ion-col>
<ion-col offset="1"> 
  <img src="assets/animals/log.png"  >
  
</ion-col>
</ion-row> 

<ion-row>
<ion-col>
  
<center><ion-button fill="transparent" size="small" (click)="artifact()">Artifacts</ion-button></center>

</ion-col>
<ion-col > 
  <center><ion-button fill="transparent" size="small" (click)="animal()">Animals</ion-button></center>

</ion-col>
</ion-row> 
     
    
</ion-content>
