<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>1</ion-card-subtitle>
      <ion-card-title>Which Animal does Santa-Claus ride when giving presents on Christmas day</ion-card-title>
    </ion-card-header>
  
    <ion-card-content  >
      <table>
        <tr>
          <td>
     <ion-button (click)="showtoast()">
       <ion-label>OX</ion-label>
     </ion-button>
    </td>
    <td>
      <ion-button (click)="showToast()">
        <ion-label>Reindeer</ion-label>
      </ion-button>
     </td>
    </tr>
    <tr>
      <td>
        <ion-button (click)="showtoast()">
          <ion-label>Goat</ion-label>
        </ion-button>
       </td>
       <td>
         <ion-button (click)="showtoast()">
           <ion-label>Horse</ion-label>
         </ion-button>
        </td>
    </tr>
    </table>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2</ion-card-subtitle>
      <ion-card-title>What did Jack and Jill went up the hill to fetch?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <table>
        <tr>
          <td>
     <ion-button (click)="showtoast()">
       <ion-label>Bread</ion-label>
     </ion-button>
    </td>
    <td>
      <ion-button (click)="showToast()">
        <ion-label> Water</ion-label>
      </ion-button>
     </td>
    </tr>
    <tr>
      <td>
        <ion-button (click)="showtoast()">
          <ion-label>Keys</ion-label>
        </ion-button>
       </td>
       <td>
         <ion-button (click)="showtoast()">
           <ion-label>Axe</ion-label>
         </ion-button>
        </td>
    </tr>
    </table>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>3</ion-card-subtitle>
      <ion-card-title>Which character has a nose that grow longer every time he lies?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <table>
        <tr>
          <td>
     <ion-button (click)="showtoast()">
       <ion-label>Peter-pan</ion-label>
     </ion-button>
    </td>
    <td>
      <ion-button (click)="showtoast()">
        <ion-label>Elsa</ion-label>
      </ion-button>
     </td>
    </tr>
    <tr>
      <td>
        <ion-button (click)="showToast()">
          <ion-label>Pinochio</ion-label>
        </ion-button>
       </td>
       <td>
         <ion-button (click)="showtoast()">
           <ion-label>Shrek</ion-label>
         </ion-button>
        </td>
    </tr>
    </table>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>4</ion-card-subtitle>
      <ion-card-title>How many legs does a spider have?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <table>
        <tr>
          <td>
     <ion-button (click)="showToast()">
       <ion-label>8</ion-label>
     </ion-button>
    </td>
    <td>
      <ion-button (click)="showtoast()">
        <ion-label>7</ion-label>
      </ion-button>
     </td>
    </tr>
    <tr>
      <td>
        <ion-button (click)="showtoast()">
          <ion-label>4</ion-label>
        </ion-button>
       </td>
       <td>
         <ion-button (click)="showtoast()">
           <ion-label>25</ion-label>
         </ion-button>
        </td>
    </tr>
    </table>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>5</ion-card-subtitle>
      <ion-card-title>How many days are there in a week</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <table>
        <tr>
          <td>
     <ion-button (click)="showtoast()">
       <ion-label>4</ion-label>
     </ion-button>
    </td>
    <td>
      <ion-button (click)="showToast()">
        <ion-label>7</ion-label>
      </ion-button>
     </td>
    </tr>
    <tr>
      <td>
        <ion-button (click)="showtoast()">
          <ion-label>9</ion-label>
        </ion-button>
       </td>
       <td>
         <ion-button (click)="showtoast()">
           <ion-label>10</ion-label>
         </ion-button>
        </td>
    </tr>
    </table>
    </ion-card-content>
  </ion-card>

  
</ion-content>
