<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Paintings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/paintings/paint-1.png">
      
      <ion-card-title>Emperor Shah Jahan</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mughal painting is a particular style of South Asian, 
      particularly North Indian (more specifically, modern day India and Pakistan), 
      painting confined to miniatures either as book illustrations or as single works to be kept in albums (muraqqa).
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Mughal_painting"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/paintings/isis.png">

      <ion-card-title>Egyptian Goddess- ISIS</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      In Ptolemaic times Isis's sphere of influence could include the entire cosmos.As the deity that protected Egypt and endorsed its king, 
      she had power over all nations, and as the provider of rain, she enlivened the natural world.
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Isis"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/paintings/star.jpg">
     
      <ion-card-title>The Starry Night</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Starry Night is one of the most recognized pieces of art in the world. 
      It is absolutely everywhere, too. It can be seen on coffee, mugs, t-shirts, towels, magnets, etc.
       Honestly, it sometimes feels as if the painting’s fame has exceeded that of its creator. 
      <ion-button fill="transparent" size="large" >
        <a href="https://www.vangoghgallery.com/painting/starry-night.html"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/paintings/farmer.png">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>American Gothic</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      American Gothic is a 1930 painting by Grant Wood. 
      Wood was inspired to paint what is now known as the American Gothic House in Eldon, Iowa.
      It depicts a farmer standing beside his daughter – often mistakenly assumed to be his wife.
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/American_Gothic"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/paintings/flaming june.png">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Flaming June</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Flaming June is a painting by Sir Frederic Leighton, produced in 1895.
      It is widely considered to be Leighton's magnum opus, showing his classicist nature. 
      It is thought that the woman portrayed alludes to the figures of sleeping nymphs and naiads the Greeks often sculpted.
      <ion-button fill="transparent" size="large" slot="start">
        <a href="https://en.wikipedia.org/wiki/Flaming_June"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
