<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>bike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <center><img src="assets/bike.jpg" ></center>
     
      <ion-card-title>Ladakh</ion-card-title>
      <ion-card-subtitle>Price: 5,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
      <a href="https://internationalyouthclub.org/leh-ladakh/?gclid=Cj0KCQjwwY-LBhD6ARIsACvT72MCjId8dJoT6vOZ0ZmRHKVSn-HcGmd3ecq42lctmoHJ4WYlBq243Z4aAuOkEALw_wcB"><img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>
</ion-content>
