<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meet-Links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
     <a href=""> <ion-label>Design and Analysis of Algorithm</ion-label></a>
      
    </ion-item>
    <ion-item>
      <a href="">  <ion-label>Java</ion-label></a>
    </ion-item>
    <ion-item>
      <a href="">   <ion-label>Process Automation</ion-label></a>
    </ion-item>
    <ion-item>
      <a href="">  <ion-label>Mobile Programming</ion-label></a>
    </ion-item>

    <ion-item>
      <a href="">  <ion-label>P & S</ion-label></a>
    </ion-item>
    <ion-item>
      <a href="">  <ion-label>Presentation and Communication Skills</ion-label></a>
    </ion-item>

   
  </ion-list>

</ion-content>
