<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      
      <img src="assets/main.png" height="40px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-card-header>
      <center><img src="assets/1460363.jpg" ></center>
     
      <ion-card-title>Rio-de-Janeiro</ion-card-title>
      <ion-card-subtitle>Travel Package: 6 Days & 7 Nights</ion-card-subtitle>
      <ion-card-subtitle>Price: 70,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
     One of the Most beautiful cities of South America
      and one of the Seven Wonders of the world
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
      <a href="https://www.planetware.com/tourist-attractions-/rio-de-janeiro-bra-rj-r.htm"><img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/2142770.jpg" ></center>
     
      <ion-card-title>India</ion-card-title>
      <ion-card-subtitle>Travel Package: 6 Days & 7 Nights</ion-card-subtitle>
      <ion-card-subtitle>Price: 50,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
    One of the most Beautiful Countries famous for its 
    Rich Culture and heritage
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
     <a href="https://www.incredibleindia.org/content/incredible-india-v2/en.html"> <img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/1424517.jpg" ></center>
     
      <ion-card-title>London</ion-card-title>
      <ion-card-subtitle>Travel Package: 6 Days & 7 Nights</ion-card-subtitle>
      <ion-card-subtitle>Price: 90,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
     One of the Most beautiful cities of Europe
     and its famous for the muesum which contains all the 
     artifacts that they took from other countries
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
      <a href="https://www.visitlondon.com/"><img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/5062334.jpg" ></center>
     
      <ion-card-title>Japan</ion-card-title>
      <ion-card-subtitle>Travel Package: 2 weeks</ion-card-subtitle>
      <ion-card-subtitle>Price: 50,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
     One of the Most beautiful cities in the world
     famous for its rich culture and 
     the home of Anime and many delicious cuisine. 
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
      <a href="https://www.japan.travel/en/uk/"><img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>

</ion-content>
