<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Artifacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/artifacts/fact-1.jpg">
      
      <ion-card-title>Canopic jar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Canopic jars were used by the ancient Egyptians during the mummification process to store and preserve the viscera of their owner for the afterlife. 
      They were commonly either carved from limestone <br>
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Canopic_jar"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/artifacts/fact-2.jpg">
      
      <ion-card-title>Guitar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In 1912, Picasso created a cardboard maquette of a piece that would have an outsized impact on 20th-century art.
       Also in MoMA’s collection, it depicted a guitar, a subject Picasso often explored in painting and collage, 
       and in many respects, Guitar transferred collage’s cut and paste techniques from two dimensions to three.
      <ion-button fill="transparent" size="large" >
        <a href=""><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/artifacts/fact-3.jpg">
      
      <ion-card-title>The Dendera zodiac</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The sculptured Dendera zodiac (or Denderah zodiac) is a widely known Egyptian bas-relief from 
      the ceiling of the pronaos (or portico) of a chapel dedicated to Osiris in the Hathor temple at Dendera, 
      containing images of Taurus (the bull) and Libra (the scales)<br>
      <ion-button fill="transparent" size="large" >
        <a href=""><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/artifacts/fact-4.jpg">
      
      <ion-card-title>The Rosetta Stone</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Rosetta Stone is a granodiorite stele inscribed with three versions of a decree issued in 
      Memphis, Egypt, in 196 BC during the Ptolemaic dynasty on behalf of King Ptolemy V Epiphanes.
       The top and middle texts are in Ancient Egyptian using hieroglyphic and Demotic scripts respectively, while the bottom is in Ancient Greek. <br>
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Rosetta_Stone"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
