<ion-header>
  <ion-toolbar>
    <ion-title>Contact-Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <center><img src="assets/logo.jpg" height="60px" width="60px" ></center>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Sardar Patel Institute of Technology</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-label><b>Address: </b>Bhavan’s Campus, Munshi Nagar, Andheri (West), Mumbai 400 058<br><br>
     <b> For admission inquiries please refer contact details on the admissions page.</b><br><br>
     <b> Phone:</b> (91)-(022)-26707440, 26287250
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

