<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>camping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <center><img src="assets/camping.jpg" ></center>
     
      <ion-card-title>Bhandardara</ion-card-title>
      <ion-card-subtitle>Travel Package: 2 Days & 3 Nights</ion-card-subtitle>
      <ion-card-subtitle>Price: 2,000</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>
    <ion-button fill="transparent" size="large" >
      <a href="https://www.thrillophilia.com/tours/lakeside-camping-bhandardara"><img src="assets/next.png" height="50px" width="50px"></a>
    </ion-button>
   
  </ion-card>


  
</ion-content>
