<ion-header>
  <ion-toolbar>
    <ion-title>S.P.I.T.</ion-title>
    <ion-button  slot="start" fill="maroon">
      <ion-menu-button></ion-menu-button>
       </ion-button>
       
      
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

<center><img src="assets/logo.jpg" height="60px" width="60px" ></center>
<ion-card>
<ion-card-header>
  <ion-card-title>Vision</ion-card-title>
</ion-card-header>

<ion-card-content>
  To build a renowned institute which will produce graduate engineers with global competency and social sensitivity.

</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title>Mission</ion-card-title>
</ion-card-header>

<ion-card-content>
<p> Provide high quality education in engineering and technology promoting the Indian Values and Ethos that will prepare the participants to lead lives of personal integrity and civic responsibility in a global society.  </p>
 <p>Promote an Educational Environment that combines academic study with the excitement of intellectual curiosity for engineers of tomorrow. </p>
 <p>Enhance career opportunities for students through Industry-Institute interaction, value-added courses and projects in cutting edge technology. </p>
 <p>Inculcate Entrepreneurial mindset in students to make them job creators. </p>
 <p>Focus on applied research to create next generation technologies.</p>
  
</ion-card-content>
</ion-card>
  <ion-label></ion-label>
</ion-content>



