<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/events/TT19.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Egyptian King Tuth-Ankh-Amun Tomb.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     The Kings Mummy will be there for display 
     till 21 October. 
    </ion-card-content>
    <ion-button fill="transparent" (click)="presentAlertConfirm()"size="large" ><img src="assets/like.png" height="50px" width="50px" ></ion-button>

    
    </ion-card>
</ion-content>
