<ion-header [translucent]="true">
    <ion-toolbar color="maroon">
      <ion-title>
        Company Drives
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div id="faq">
      <ul>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>BNP Paribas</h2>
          <p><img src="assets/bnp.jpg">
            <b>Date</b> - 15/11/2021<br>
            <b>Internship</b><br>
            <b>Job Role</b> - Intern<br>
            <b>Stipend</b> - 20,000/-<br>
           
             </p>
        <ion-button color="maroon" fill="outline"(click)="apply()" >&nbsp;View Details</ion-button> 
        
  
        </li>
        <ion-Button color="maroon" fill="outline" (click)="showToast()"> Apply Now</ion-Button> 
        <li>
         <input type="checkbox" checked>
          <i></i>
          <h2>Goldman Sachs</h2>
          <p><img src="assets/download.png">
            <b>Date</b> - 20/11/2021<br>
            <b>Internship</b><br>
            <b>Job Role</b> - Intern<br>
            <b>Stipend</b> - 15,000/-<br>
             </p>
             <ion-button color="maroon"  fill="outline"(click)="apply()" >&nbsp;View Details</ion-button>
       </li>
       <ion-Button color="maroon" fill="outline" (click)="showToast()"> Apply Now</ion-Button> 
       <li>
        <input type="checkbox" checked>
         <i></i>
         <h2>Mindtree</h2>
         <p><img src="assets/mindtree.png">
           <b>Date</b> - 20/11/2021<br>
           <b>Internship</b><br>
           <b>Job Role</b> - Intern<br>
           <b>Stipend</b> - 15,000/-<br>
            </p>
            <ion-button color="maroon"  fill="outline"(click)="apply()" >&nbsp;View Details</ion-button>
      </li>
      <ion-Button color="maroon" fill="outline" (click)="showToast()"> Apply Now</ion-Button> 
      <li>
        <input type="checkbox" checked>
         <i></i>
         <h2>Morgan Stanley</h2>
         <p><img src="assets/morgan.png">
           <b>Date</b> - 20/11/2021<br>
           <b>Internship</b><br>
           <b>Job Role</b> - Intern<br>
           <b>Stipend</b> - 15,000/-<br>
            </p>
            <ion-button color="maroon" fill="outline"(click)="apply()" > &nbsp;View Details</ion-button>
            
      </li>

      <ion-Button color="maroon" fill="outline" (click)="showToast()"> Apply Now</ion-Button> 
      </ul>
    </div>
  </ion-content>