<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
      <center><img src="assets/main.png" height="40px"></center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-item>
      <ion-card-header>
       
        <center><ion-card-title>Explore</ion-card-title></center>
      </ion-card-header>
      
   
    </ion-item>
    
   
  </ion-card>
  <center><a> <img src="assets/plan.jfif" height="200px" width="170px"></a></center>
  <center><ion-button size="large" fill="transparent" (click)="dest()">P𝚕𝚊𝚗 𝚢𝚘𝚞𝚛 T𝚛𝚊𝚟𝚎𝚕</ion-button></center>
<br>
<br>
  <center><a> <img src="assets/info.png" height="150px" width="150px"></a></center>
  <center><ion-button size="large" fill="transparent" (click)="about()">A𝚋𝚘𝚞𝚝 U𝚜</ion-button></center>
</ion-content>
