<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sculpture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/sculpture/1.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Alexander The Great</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Alexander III of Macedon commonly known as Alexander the Great, 
      was a king of the ancient Greek kingdom of Macedon. He succeeded his father to the throne at the age of 20,
      By the age of thirty, he had created one of the largest empires in history
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Alexander_the_Great"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/sculpture/2.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Nefertiti Bust</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Nefertiti Bust is a painted stucco-coated limestone bust of Nefertiti, 
      the Great Royal Wife of Egyptian pharaoh Akhenaten.
      The work is believed to have been crafted in 1345 B.C.E.
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Nefertiti_Bust"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/sculpture/3.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Khufu Statuette</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Khufu Statuette or the Ivory figurine of Khufu is an ancient Egyptian statue. 
      Historically and archaeologically significant, 
      it was found in 1903 by Sir William Matthew Flinders Petrie during excavation of Kom el-Sultan 
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Khufu_Statuette"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/sculpture/4.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Ecstasy of Saint Teresa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Acknowledged as an originator of the High Roman Baroque style, 
      Gian Lorenzo Bernini created this masterpiece for a chapel in the Church of Santa Maria della Vittoria.
      <ion-button fill="transparent" size="large" >
        <a href="https://www.timeout.com/newyork/art/top-famous-sculptures-of-all-time"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/sculpture/5.jpg">
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>The Little Fourteen-Year-Old Dancer</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Edgar Degas is best known as a painter, 
      he also worked in sculpture, producing what was arguably the most radical effort of his oeuvre. 
      Degas fashioned The Little Fourteen-Year-Old Dancer out of wax,but the fact that Degas dressed his 
      <ion-button fill="transparent" size="large" >
        <a href="https://www.timeout.com/newyork/art/top-famous-sculptures-of-all-time"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
