<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Animals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/animals/rex.png">
      
      <ion-card-title>Tyrannosaurus Rex</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The first skeleton of Tyrannosaurus rex was discovered in 1902 in 
      Hell Creek, Montana, by the Museum's famous fossil hunter Barnum Brown. 
      Six years later, Brown discovered a nearly complete T. rex skeleton at Big Dry Creek, Montana. 
      <ion-button fill="transparent" size="large" >
        <a href="https://www.amnh.org/exhibitions/permanent/saurischian-dinosaurs/tyrannosaurus-rex"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/animals/saber.jpg">
      
      <ion-card-title>Saber Tooth Tiger(Smilodon)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sabre-toothed cats were on the prowl all around the world for 42 million years
      until they went extinct about 10,000 years ago. 
      But these fearsome cats weren’t anything like the fur balls that lay on your couch at home.
      <ion-button fill="transparent" size="large" >
        <a href="https://www.cbc.ca/kidscbc2/the-feed/six-giant-animals-that-once-ruled-earth"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/animals/tri.png">
      
      <ion-card-title>Triceratops</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Triceratops is an extinct genus of herbivorous chasmosaurine ceratopsid dinosaur that first appeared during the late Maastrichtian stage of the Late Cretaceous period, 
      about 68 million years ago in what is now North America. 
      It is one of the last-known non-avian dinosaur
      <ion-button fill="transparent" size="large" >
        <a href="https://en.wikipedia.org/wiki/Triceratops"><img src="assets/next.png" height="50px" width="50px"></a>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
