<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Placement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <center><img src="assets/morgan.png"></center>
      <ion-card-title>Morgan Stanley</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-label>Eligibility: B-Tech/BE, ME/M-Tech, MCA</ion-label>
     <ion-label>Salary: 5 - 7 LPA</ion-label>
     <ion-label>Location: Pune</ion-label>
     <ion-label>Job-Desription: Java Developers</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/mindtree-logo.png"></center>
      <ion-card-title>Mind Tree</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-label>Eligibility: B-Tech/BE, ME/M-Tech, MCA</ion-label>
     <ion-label>Salary: 5 - 7 LPA</ion-label>
     <ion-label>Location: Pune</ion-label>
     <ion-label>Job-Desription: Python Developers</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/105997.jpg"></center>
      <ion-card-title>BNP Paribas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-label>Eligibility: B-Tech/BE, ME/M-Tech, MCA</ion-label>
     <ion-label>Salary: 5 - 7 LPA</ion-label>
     <ion-label>Location: Pune</ion-label>
     <ion-label>Job-Desription: Full Stack Developers</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
